table{
    height: 100%;
    width: 100%;
    border: 1px solid black;
}
.image{
    height:70%;
    width:70% ;
    align-items: center;
}
tr{
    height:33%;
}
td{
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    width: 20%;
}
